.header {
    display: flex;
    position: relative;
  }


.navbar ul {
    padding-top: 30px;
    margin-left: -182px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 300px;
    top: -30px;
    height: 105vh;
    border: 1px solid #fff;
    background-color: rgb(71, 71, 71);
    transform: translateX(-500%);
    transition: 0.5s ease;
    border-radius: 2px;
  }


  input[type=checkbox]:checked + .navbar ul {
    transform: translateX(-1080px);
  }

  
  .navbar li {
    
    margin-top: 25px;
    margin-left: 120px;

    &:first-of-type {
      margin-top: 60px;
    }
  }
  
.ulambula li a {
    text-decoration: none;
    list-style: none;
    color: #83888f;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
  }

.ulambula {
  list-style: none;
  text-decoration: none;
  display: flex;
}
.ulambula li {
  list-style: none;
  text-decoration: none;
  padding-left: 10px;
  width: 120px;
}



.hamburger {
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 1000px;
  }

  .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    height: 4px;
    width: 24px;
    background-color:#356EAD;
    margin: 5px 0;
    cursor: pointer;
  }

 
    